#root {
  margin: 0 auto;
  text-align: center;
}

.theme-btn {
  border: none;
  border-radius: 50%;
  padding: 5px 12px 10px 12px;
  font-size: 20px;
}

.card {
  box-shadow: 0 0 1px 1px lightgray;
  border-radius: 5px;
  text-align: start;
  color: #d2e4fc;
}

.add-to-cart-btn {
  /* background-color: #1a73e8; */
  border: none;
  padding: 8px 25px;
  font-weight: 600;
  border-radius: 10px;
}